#Resident_Information_Form .sfm_textbox
{
    padding:1px;
}
#Resident_Information_Form .sfm_textarea
{
    padding:2px;
    resize:none;
}
#Resident_Information_Form .error_strings
{
    font-family:Verdana;
    font-size:12px;
    color:#660000;
}
#Resident_Information_Form img
{
    border:0;
}
#Resident_Information_Form .loading_div
{
    background-color:transparent;
    background-image:url("images/loading.gif");
    background-position:center center;
    background-repeat:no-repeat;
}
#Resident_Information_Form input[type='submit'],input[type='reset']
{
    font:inherit;
    color:inherit;
}
#Resident_Information_Form .sfm_cr_box
{
    font-family:Verdana;
    font-size:10px;
    color:#888888;
}
#Resident_Information_Form .sfm_cr_box a
{
    color:#888888;
}
#Resident_Information_Form .sfm_slider
{
    margin:0;
    display:inline-bock;
}
#Resident_Information_Form .slider_label
{
    padding-top:5px;
    padding-left:3px;
    overflow:visible;
    display:inline-block;
}
#Resident_Information_Form .form_outer_div
{
    margin:0 auto;
    border:none;
    background-color:#ffffff;
}
#Resident_Information_Form .sfm_form_label
{
    background-color:transparent;
}
#Resident_Information_Form .element_label
{
    background-color:transparent;
}
body#sfm_Resident_Information_Form_body
{
    background-color:#ffffff;
    font-family:Verdana;
    font-size:12px;
    color:#000000;
    margin:0px;
}
#Resident_Information_Form .form_outer_div
{
    font-family:Verdana;
    font-size:12px;
    color:#000000;
}
#Resident_Information_Form .form_subheading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#Resident_Information_Form .sfm_float_error_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
    background:none repeat scroll 0 0 #333333;
    border:0;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow:0 0 4px #333;
    border:none;
}
#Resident_Information_Form .sfm_close_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
}
#Resident_Information_Form .progress_box_container
{
    border:1px solid #8e8e8e;
    background-color:#cccccc;
    font-family:Arial;
    font-size:4mm;
    color:#000000;
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
}
#Resident_Information_Form .progress_box
{
    background-color:#3cb371;
    width:2px;
    float:left;
    margin:2px;
}
#Resident_Information_Form .page_heading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#Resident_Information_Form .page_number
{
    background-color:transparent;
}
#Resident_Information_Form input[type='text'],input[type='password'],input[type='email'],input[type='tel'],input[type='number']
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:23px;
    line-height:23px;
}
#Resident_Information_Form textarea
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}


#Resident_Information_Form #tcebe9436a68077ee7f26
{
    width:5px;
    height:5px;
    display:none;
}
#Resident_Information_Form #Image_container
{
    z-index:29;
}
#Resident_Information_Form #box_element20
{
    z-index:28;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #box_element
{
    z-index:1;
    border:1px solid #000000;
    background-color:#ff8000;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #EstablishedResidentUpdateInformation_container
{
    z-index:31;
}
#Resident_Information_Form #NewResidentInformation_container
{
    z-index:30;
}
#Resident_Information_Form #box_element2
{
    z-index:3;
    border:none;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #label1_container
{
    z-index:6;
}
#Resident_Information_Form #label1
{
    text-align:left;
    font-family:Arial;
    font-size:10pt;
    color:#000000;
}
#Resident_Information_Form #label_container
{
    z-index:5;
}
#Resident_Information_Form #label
{
    text-align:left;
    font-family:Arial;
    font-size:10pt;
    color:#000000;
}
#Resident_Information_Form #MoveIn_container
{
    z-index:32;
}
#Resident_Information_Form #MoveIn
{
    float:left;
    z-index:32;
    margin:0px;
}
#Resident_Information_Form #MoveIn_image_container
{
    float:left;
    z-index:32;
    height:100%;
    position:relative;
}
#Resident_Information_Form #DatePicker1_container
{
    z-index:33;
}
#Resident_Information_Form #DatePicker1
{
    float:left;
    z-index:33;
    margin:0px;
}
#Resident_Information_Form #DatePicker1_image_container
{
    float:left;
    z-index:33;
    height:100%;
    position:relative;
}
#Resident_Information_Form #box_element3
{
    z-index:4;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #box_element4
{
    z-index:7;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #label7_container
{
    z-index:38;
}
#Resident_Information_Form #Phone1_container
{
    z-index:37;
}
#Resident_Information_Form #Phone1
{
    float:left;
    z-index:37;
}
#Resident_Information_Form #FirstName1_container
{
    z-index:64;
}
#Resident_Information_Form #FirstName1
{
    float:left;
    z-index:64;
}
#Resident_Information_Form #Middle1_container
{
    z-index:65;
}
#Resident_Information_Form #Middle1
{
    float:left;
    z-index:65;
}
#Resident_Information_Form #label20_container
{
    z-index:70;
}
#Resident_Information_Form #label22_container
{
    z-index:72;
}
#Resident_Information_Form #LastName1_container
{
    z-index:66;
}
#Resident_Information_Form #LastName1
{
    float:left;
    z-index:66;
}
#Resident_Information_Form #box_element5
{
    z-index:8;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #label21_container
{
    z-index:71;
}
#Resident_Information_Form #label23_container
{
    z-index:73;
}
#Resident_Information_Form #Last2_container
{
    z-index:67;
}
#Resident_Information_Form #Last2
{
    float:left;
    z-index:67;
}
#Resident_Information_Form #First2_container
{
    z-index:68;
}
#Resident_Information_Form #First2
{
    float:left;
    z-index:68;
}
#Resident_Information_Form #Middle2_container
{
    z-index:69;
}
#Resident_Information_Form #Middle2
{
    float:left;
    z-index:69;
}
#Resident_Information_Form #label8_container
{
    z-index:39;
}
#Resident_Information_Form #Phone2_container
{
    z-index:36;
}
#Resident_Information_Form #Phone2
{
    float:left;
    z-index:36;
}
#Resident_Information_Form #box_element6
{
    z-index:9;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #label6_container
{
    z-index:35;
}
#Resident_Information_Form #Address_container
{
    z-index:34;
}
#Resident_Information_Form #Address
{
    float:left;
    z-index:34;
}
#Resident_Information_Form #box_element7
{
    z-index:10;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #label9_container
{
    z-index:42;
}
#Resident_Information_Form #Email1_container
{
    z-index:40;
}
#Resident_Information_Form #Email1
{
    float:left;
    z-index:40;
}
#Resident_Information_Form #label10_container
{
    z-index:43;
}
#Resident_Information_Form #Email2_container
{
    z-index:41;
}
#Resident_Information_Form #Email2
{
    float:left;
    z-index:41;
}
#Resident_Information_Form #box_element8
{
    z-index:11;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #box_element9
{
    z-index:12;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #box_element10
{
    z-index:14;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #label11_container
{
    z-index:13;
}
#Resident_Information_Form #label11
{
    text-align:left;
    font-family:Arial;
    font-size:9pt;
    color:#000000;
}
#Resident_Information_Form #label12_container
{
    z-index:46;
}
#Resident_Information_Form #AdultsInHouse_container
{
    z-index:44;
}
#Resident_Information_Form #AdultsInHouse
{
    float:left;
    z-index:44;
    text-align:right;
}
#Resident_Information_Form #label13_container
{
    z-index:47;
}
#Resident_Information_Form #ChildrenInHouse_container
{
    z-index:45;
}
#Resident_Information_Form #ChildrenInHouse
{
    float:left;
    z-index:45;
    text-align:right;
}
#Resident_Information_Form #box_element11
{
    z-index:15;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #box_element12
{
    z-index:16;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #label14_container
{
    z-index:50;
}
#Resident_Information_Form #Pets_container
{
    z-index:48;
}
#Resident_Information_Form #Pets
{
    height:40px;
}
#Resident_Information_Form #Pets
{
    float:left;
    z-index:48;
}
#Resident_Information_Form #label15_container
{
    z-index:51;
}
#Resident_Information_Form #ChildrenNames_container
{
    z-index:49;
}
#Resident_Information_Form #ChildrenNames
{
    height:40px;
}
#Resident_Information_Form #ChildrenNames
{
    float:left;
    z-index:49;
}
#Resident_Information_Form #box_element13
{
    z-index:17;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #box_element14
{
    z-index:18;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #label16_container
{
    z-index:19;
}
#Resident_Information_Form #label16
{
    text-align:center;
    font-family:Arial;
    font-size:12pt;
    color:#ff6820;
}
#Resident_Information_Form #label17_container
{
    z-index:20;
    border-width:1px;
    border-style:solid;
    border-color:#000000;
}
#Resident_Information_Form #label17
{
    text-align:center;
    font-family:Arial;
    font-size:9pt;
    font-weight:bold;
    color:#ff6820;
}
#Resident_Information_Form #vert_line
{
    z-index:54;
    border:none;
    border-left:2px solid #000000;
}
#Resident_Information_Form #Pool_volunteer_0_container
{
    z-index:52;
}
#Resident_Information_Form #Pool_volunteer_1_container
{
    z-index:53;
}
#Resident_Information_Form #box_element15
{
    z-index:21;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #label18_container
{
    z-index:26;
}
#Resident_Information_Form #label18
{
    text-align:center;
    font-family:Arial;
    font-size:12pt;
    color:#ff6820;
}
#Resident_Information_Form #ArchitecturalControlCommittee_container
{
    z-index:56;
}
#Resident_Information_Form #AuditCommittee_container
{
    z-index:57;
}
#Resident_Information_Form #box_element16
{
    z-index:22;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #NominationCommittee_container
{
    z-index:58;
}
#Resident_Information_Form #PoolCommittee_container
{
    z-index:59;
}
#Resident_Information_Form #box_element17
{
    z-index:23;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #SnowIceCommittee_container
{
    z-index:60;
}
#Resident_Information_Form #SpecialCommittee_container
{
    z-index:61;
}
#Resident_Information_Form #box_element18
{
    z-index:24;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #WebsiteCommittee_container
{
    z-index:62;
}
#Resident_Information_Form #NeighborhoodWatch_container
{
    z-index:63;
}
#Resident_Information_Form #vert_line1
{
    z-index:55;
    border:none;
    border-left:2px solid #000000;
}
#Resident_Information_Form #box_element19
{
    z-index:25;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #box_element1
{
    z-index:2;
    border:1px solid #000000;
    background-color:transparent;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
#Resident_Information_Form #label19_container
{
    z-index:27;
}
#Resident_Information_Form #label19
{
    text-align:center;
    font-family:Arial;
    font-size:8pt;
    font-weight:bold;
    color:#000000;
}
#Resident_Information_Form #Submit_container
{
    z-index:74;
}
#Resident_Information_Form #Resident_Information_Form_Submit_img
{
    width:104px;
    height:29px;
    border:none;
}
#Resident_Information_Form #Reset_container
{
    z-index:75;
}
#Resident_Information_Form #Resident_Information_Form_Reset_img
{
    width:104px;
    height:29px;
    border:none;
}

#Resident_Information_Form #Resident_Information_Form_outer_div_p1
{
    width:500px;
    height:750px;
}
#Resident_Information_Form #Image_container
{
    position:absolute;
    left:2px;
    top:2px;
    width:497px;
    height:76px;
}
#Resident_Information_Form #box_element20
{
    position:absolute;
    left:0px;
    top:0px;
    width:500px;
    height:83px;
}
#Resident_Information_Form #box_element
{
    position:absolute;
    left:0px;
    top:84px;
    width:500px;
    height:17px;
}
#Resident_Information_Form #EstablishedResidentUpdateInformation_container
{
    position:absolute;
    left:208px;
    top:103px;
    width:292px;
    height:14px;
}
#Resident_Information_Form #NewResidentInformation_container
{
    position:absolute;
    left:13px;
    top:103px;
    width:215px;
    height:14px;
}
#Resident_Information_Form #box_element2
{
    position:absolute;
    left:0px;
    top:94px;
    width:500px;
    height:28px;
}
#Resident_Information_Form #label1_container
{
    position:absolute;
    left:258px;
    top:128px;
    width:88px;
    height:15px;
}
#Resident_Information_Form #label1
{
    position:absolute;
    left:0px;
    top:0px;
}
#Resident_Information_Form #label_container
{
    position:absolute;
    left:18px;
    top:127px;
    width:87px;
    height:20px;
}
#Resident_Information_Form #label
{
    position:absolute;
    left:0px;
    top:0px;
}
#Resident_Information_Form #MoveIn_container
{
    position:absolute;
    left:114px;
    top:125px;
    width:122px;
    height:25px;
}
#Resident_Information_Form #MoveIn
{
    width:85px;
    height:19px;
}
#Resident_Information_Form #MoveIn_image_container
{
    width:20px;
}
#Resident_Information_Form #MoveIn_image
{
    position:absolute;
    top:50%;
    margin-top:-11px;
    margin-left:1px;
}
#Resident_Information_Form #DatePicker1_container
{
    position:absolute;
    left:343px;
    top:125px;
    width:140px;
    height:25px;
}
#Resident_Information_Form #DatePicker1
{
    width:103px;
    height:19px;
}
#Resident_Information_Form #DatePicker1_image_container
{
    width:20px;
}
#Resident_Information_Form #DatePicker1_image
{
    position:absolute;
    top:50%;
    margin-top:-11px;
    margin-left:1px;
}
#Resident_Information_Form #box_element3
{
    position:absolute;
    left:0px;
    top:122px;
    width:250px;
    height:29px;
}
#Resident_Information_Form #box_element4
{
    position:absolute;
    left:250px;
    top:122px;
    width:250px;
    height:29px;
}
#Resident_Information_Form #label7_container
{
    position:absolute;
    left:367px;
    top:152px;
}
#Resident_Information_Form #label7_container
{
    width:117px;
    height:20px;
}
#Resident_Information_Form #label7
{
    position:absolute;
    top:2px;
    left:0px;
    width:100%;
    text-align:center;
}
#Resident_Information_Form #Phone1_container
{
    position:absolute;
    left:366px;
    top:174px;
}
#Resident_Information_Form #Phone1
{
    width:114px;
    height:19px;
}
#Resident_Information_Form #FirstName1_container
{
    position:absolute;
    left:221px;
    top:174px;
}
#Resident_Information_Form #FirstName1
{
    width:79px;
    height:19px;
}
#Resident_Information_Form #Middle1_container
{
    position:absolute;
    left:320px;
    top:174px;
}
#Resident_Information_Form #Middle1
{
    width:23px;
    height:19px;
}
#Resident_Information_Form #label20_container
{
    position:absolute;
    left:124px;
    top:152px;
}
#Resident_Information_Form #label20_container
{
    width:225px;
    height:20px;
}
#Resident_Information_Form #label20
{
    position:absolute;
    top:2px;
    left:0px;
    width:100%;
    text-align:center;
}
#Resident_Information_Form #label22_container
{
    position:absolute;
    left:9px;
    top:176px;
}
#Resident_Information_Form #label22_container
{
    width:107px;
    height:20px;
}
#Resident_Information_Form #label22
{
    position:absolute;
    top:2px;
    left:0px;
    width:100%;
    text-align:center;
}
#Resident_Information_Form #LastName1_container
{
    position:absolute;
    left:123px;
    top:174px;
}
#Resident_Information_Form #LastName1
{
    width:79px;
    height:19px;
}
#Resident_Information_Form #box_element5
{
    position:absolute;
    left:0px;
    top:151px;
    width:500px;
    height:57px;
}
#Resident_Information_Form #label21_container
{
    position:absolute;
    left:124px;
    top:210px;
}
#Resident_Information_Form #label21_container
{
    width:225px;
    height:20px;
}
#Resident_Information_Form #label21
{
    position:absolute;
    top:2px;
    left:0px;
    width:100%;
    text-align:center;
}
#Resident_Information_Form #label23_container
{
    position:absolute;
    left:9px;
    top:234px;
}
#Resident_Information_Form #label23_container
{
    width:107px;
    height:20px;
}
#Resident_Information_Form #label23
{
    position:absolute;
    top:2px;
    left:0px;
    width:100%;
    text-align:center;
}
#Resident_Information_Form #Last2_container
{
    position:absolute;
    left:123px;
    top:233px;
}
#Resident_Information_Form #Last2
{
    width:79px;
    height:19px;
}
#Resident_Information_Form #First2_container
{
    position:absolute;
    left:221px;
    top:233px;
}
#Resident_Information_Form #First2
{
    width:79px;
    height:19px;
}
#Resident_Information_Form #Middle2_container
{
    position:absolute;
    left:320px;
    top:233px;
}
#Resident_Information_Form #Middle2
{
    width:23px;
    height:19px;
}
#Resident_Information_Form #label8_container
{
    position:absolute;
    left:367px;
    top:209px;
}
#Resident_Information_Form #label8_container
{
    width:117px;
    height:20px;
}
#Resident_Information_Form #label8
{
    position:absolute;
    top:2px;
    left:0px;
    width:100%;
    text-align:center;
}
#Resident_Information_Form #Phone2_container
{
    position:absolute;
    left:365px;
    top:234px;
}
#Resident_Information_Form #Phone2
{
    width:114px;
    height:19px;
}
#Resident_Information_Form #box_element6
{
    position:absolute;
    left:0px;
    top:208px;
    width:500px;
    height:57px;
}
#Resident_Information_Form #label6_container
{
    position:absolute;
    left:0px;
    top:277px;
}
#Resident_Information_Form #label6_container
{
    width:94px;
    height:20px;
}
#Resident_Information_Form #label6
{
    position:absolute;
    top:2px;
    right:0px;
    text-align:right;
}
#Resident_Information_Form #Address_container
{
    position:absolute;
    left:111px;
    top:274px;
}
#Resident_Information_Form #Address
{
    width:367px;
    height:19px;
}
#Resident_Information_Form #box_element7
{
    position:absolute;
    left:0px;
    top:265px;
    width:500px;
    height:45px;
}
#Resident_Information_Form #label9_container
{
    position:absolute;
    left:22px;
    top:317px;
}
#Resident_Information_Form #label9_container
{
    width:60px;
    height:20px;
}
#Resident_Information_Form #label9
{
    position:absolute;
    top:2px;
    left:0px;
    width:100%;
    text-align:center;
}
#Resident_Information_Form #Email1_container
{
    position:absolute;
    left:108px;
    top:314px;
}
#Resident_Information_Form #Email1
{
    width:114px;
    height:19px;
}
#Resident_Information_Form #label10_container
{
    position:absolute;
    left:275px;
    top:317px;
}
#Resident_Information_Form #label10_container
{
    width:60px;
    height:20px;
}
#Resident_Information_Form #label10
{
    position:absolute;
    top:2px;
    left:0px;
    width:100%;
    text-align:center;
}
#Resident_Information_Form #Email2_container
{
    position:absolute;
    left:359px;
    top:314px;
}
#Resident_Information_Form #Email2
{
    width:114px;
    height:19px;
}
#Resident_Information_Form #box_element8
{
    position:absolute;
    left:0px;
    top:310px;
    width:250px;
    height:32px;
}
#Resident_Information_Form #box_element9
{
    position:absolute;
    left:250px;
    top:310px;
    width:250px;
    height:32px;
}
#Resident_Information_Form #box_element10
{
    position:absolute;
    left:0px;
    top:342px;
    width:500px;
    height:33px;
}
#Resident_Information_Form #label11_container
{
    position:absolute;
    left:0px;
    top:343px;
    width:500px;
    height:60px;
}
#Resident_Information_Form #label11
{
    position:absolute;
    left:0px;
    top:0px;
}
#Resident_Information_Form #label12_container
{
    position:absolute;
    left:3px;
    top:380px;
}
#Resident_Information_Form #label12_container
{
    width:170px;
    height:20px;
}
#Resident_Information_Form #label12
{
    position:absolute;
    top:2px;
    left:0px;
    width:100%;
    text-align:center;
}
#Resident_Information_Form #AdultsInHouse_container
{
    position:absolute;
    left:180px;
    top:380px;
}
#Resident_Information_Form #AdultsInHouse
{
    width:42px;
    height:19px;
}
#Resident_Information_Form #label13_container
{
    position:absolute;
    left:244px;
    top:380px;
}
#Resident_Information_Form #label13_container
{
    width:195px;
    height:20px;
}
#Resident_Information_Form #label13
{
    position:absolute;
    top:2px;
    left:0px;
    width:100%;
    text-align:center;
}
#Resident_Information_Form #ChildrenInHouse_container
{
    position:absolute;
    left:432px;
    top:380px;
}
#Resident_Information_Form #ChildrenInHouse
{
    width:41px;
    height:19px;
}
#Resident_Information_Form #box_element11
{
    position:absolute;
    left:0px;
    top:375px;
    width:250px;
    height:34px;
}
#Resident_Information_Form #box_element12
{
    position:absolute;
    left:250px;
    top:375px;
    width:250px;
    height:34px;
}
#Resident_Information_Form #label14_container
{
    position:absolute;
    left:2px;
    top:427px;
}
#Resident_Information_Form #label14_container
{
    width:106px;
    height:20px;
}
#Resident_Information_Form #label14
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    text-align:center;
}
#Resident_Information_Form #Pets_container
{
    position:absolute;
    left:112px;
    top:419px;
}
#Resident_Information_Form #Pets
{
    width:123px;
    height:34px;
}
#Resident_Information_Form #label15_container
{
    position:absolute;
    left:252px;
    top:420px;
}
#Resident_Information_Form #label15_container
{
    width:139px;
    height:20px;
}
#Resident_Information_Form #label15
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    text-align:center;
}
#Resident_Information_Form #ChildrenNames_container
{
    position:absolute;
    left:388px;
    top:419px;
}
#Resident_Information_Form #ChildrenNames
{
    width:101px;
    height:34px;
}
#Resident_Information_Form #box_element13
{
    position:absolute;
    left:250px;
    top:409px;
    width:250px;
    height:60px;
}
#Resident_Information_Form #box_element14
{
    position:absolute;
    left:0px;
    top:409px;
    width:250px;
    height:60px;
}
#Resident_Information_Form #label16_container
{
    position:absolute;
    left:0px;
    top:470px;
    width:500px;
    height:47px;
}
#Resident_Information_Form #label16
{
    position:absolute;
    left:28px;
    top:3px;
}
#Resident_Information_Form #label17_container
{
    position:absolute;
    left:0px;
    top:516px;
    width:500px;
    height:20px;
}
#Resident_Information_Form #label17
{
    position:absolute;
    left:19px;
    top:0px;
}
#Resident_Information_Form #vert_line
{
    position:absolute;
    left:250px;
    top:537px;
    width:5px;
    height:24px;
}
#Resident_Information_Form #Pool_volunteer_0_container
{
    position:absolute;
    left:263px;
    top:541px;
    width:222px;
    height:22px;
}
#Resident_Information_Form #Pool_volunteer_1_container
{
    position:absolute;
    left:36px;
    top:541px;
    width:192px;
    height:22px;
}
#Resident_Information_Form #box_element15
{
    position:absolute;
    left:0px;
    top:560px;
    width:500px;
    height:23px;
}
#Resident_Information_Form #label18_container
{
    position:absolute;
    left:0px;
    top:562px;
    width:500px;
    height:25px;
}
#Resident_Information_Form #label18
{
    position:absolute;
    left:74px;
    top:1px;
}
#Resident_Information_Form #ArchitecturalControlCommittee_container
{
    position:absolute;
    left:14px;
    top:589px;
    width:219px;
    height:14px;
}
#Resident_Information_Form #AuditCommittee_container
{
    position:absolute;
    left:314px;
    top:589px;
    width:129px;
    height:14px;
}
#Resident_Information_Form #box_element16
{
    position:absolute;
    left:0px;
    top:583px;
    width:500px;
    height:23px;
}
#Resident_Information_Form #NominationCommittee_container
{
    position:absolute;
    left:45px;
    top:611px;
    width:175px;
    height:14px;
}
#Resident_Information_Form #PoolCommittee_container
{
    position:absolute;
    left:319px;
    top:611px;
    width:129px;
    height:14px;
}
#Resident_Information_Form #box_element17
{
    position:absolute;
    left:0px;
    top:606px;
    width:500px;
    height:23px;
}
#Resident_Information_Form #SnowIceCommittee_container
{
    position:absolute;
    left:45px;
    top:635px;
    width:175px;
    height:14px;
}
#Resident_Information_Form #SpecialCommittee_container
{
    position:absolute;
    left:311px;
    top:635px;
    width:141px;
    height:14px;
}
#Resident_Information_Form #box_element18
{
    position:absolute;
    left:0px;
    top:629px;
    width:500px;
    height:23px;
}
#Resident_Information_Form #WebsiteCommittee_container
{
    position:absolute;
    left:42px;
    top:656px;
    width:190px;
    height:14px;
}
#Resident_Information_Form #NeighborhoodWatch_container
{
    position:absolute;
    left:306px;
    top:657px;
    width:165px;
    height:14px;
}
#Resident_Information_Form #vert_line1
{
    position:absolute;
    left:250px;
    top:583px;
    width:5px;
    height:91px;
}
#Resident_Information_Form #box_element19
{
    position:absolute;
    left:0px;
    top:675px;
    width:500px;
    height:23px;
}
#Resident_Information_Form #box_element1
{
    position:absolute;
    left:0px;
    top:0px;
    width:500px;
    height:700px;
}
#Resident_Information_Form #label19_container
{
    position:absolute;
    left:0px;
    top:675px;
    width:500px;
    height:25px;
}
#Resident_Information_Form #label19
{
    position:absolute;
    left:24px;
    top:4px;
}
#Resident_Information_Form #Submit_container
{
    position:absolute;
    left:321px;
    top:712px;
    width:100px;
    height:25px;
}
#Resident_Information_Form #Reset_container
{
    position:absolute;
    left:77px;
    top:712px;
    width:100px;
    height:25px;
}
